<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/76c569a301.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />
  </head>
  <body>
    <header class="bg-yellow">
      <section class="linea-sup">
        <a href="">
          <img src="/images/logo-mercado-liebre.svg" alt="Meliebre" />
        </a>
        <div class="div-searchbar">
          <input type="text" />
          <button>
            <i class="fas fa-search"></i>
          </button>
        </div>
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </p>
      </section>
      <nav>
        <ul class="nav-pag">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="nav-accesos">
          <li>
            <a href="">Crea tu Cuenta</a><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="">Mis Compras</a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </header>
    <section>
      <img src="/images/img-home-banner.jpg" class="banner" alt="logo Meli" />
    </section>
    <main>
      <section>
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <section class="grupo-tarjetas">
          <article class="tarjeta-articulo">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              class="w-100"
              alt="cafetera"
            />
            <div class="tarjeta-datos">
              <div class="div-truck">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h3 class="precios">$6.770</h3>
              <h3 class="descuentos">40% OFF</h3>
              <h3 class="descripciones">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="tarjeta-articulo">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              class="w-100"
              alt="mac2019"
            />
            <div class="tarjeta-datos">
              <div class="div-truck">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h3 class="precios">$230.000</h3>
              <h3 class="descuentos">20% OFF</h3>
              <h3 class="descripciones">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="tarjeta-articulo">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              class="w-100"
              alt="samsung-galaxy"
            />
            <div class="tarjeta-datos">
              <div class="div-truck">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h3 class="precios">$70.500</h3>
              <h3 class="descuentos">10% OFF</h3>
              <h3 class="descripciones">Samsung Galaxy</h3>
            </div>
          </article>
          <article class="tarjeta-articulo">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              class="w-100"
              alt="samsung-tv"
            />
            <div class="tarjeta-datos">
              <div class="div-truck">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h3 class="precios">$23.200</h3>
              <h3 class="descuentos">5% OFF</h3>
              <h3 class="descripciones">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </section>
      </section>
      <section>
        <h2 class="titulares">Sección de Ofertas</h2>
      </section>
      <section class="grupo-tarjetas">
        <article class="tarjeta-articulo">
          <img
            src="/images/img-cafetera-moulinex.jpg"
            class="w-100"
            alt="cafetera"
          />
          <div class="tarjeta-datos">
            <div class="div-truck">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h3 class="precios">$6.770</h3>
            <h3 class="descuentos">40% OFF</h3>
            <h3 class="descripciones">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="tarjeta-articulo">
          <img
            src="/images/img-macbook-pro-2019.jpg"
            class="w-100"
            alt="mac2019"
          />
          <div class="tarjeta-datos">
            <div class="div-truck">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h3 class="precios">$230.000</h3>
            <h3 class="descuentos">20% OFF</h3>
            <h3 class="descripciones">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="tarjeta-articulo">
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            class="w-100"
            alt="samsung-galaxy"
          />
          <div class="tarjeta-datos">
            <div class="div-truck">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h3 class="precios">$70.500</h3>
            <h3 class="descuentos">10% OFF</h3>
            <h3 class="descripciones">Samsung Galaxy</h3>
          </div>
        </article>
        <article class="tarjeta-articulo">
          <img
            src="/images/img-tv-samsung-smart.jpg"
            class="w-100"
            alt="samsung-tv"
          />
          <div class="tarjeta-datos">
            <div class="div-truck">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h3 class="precios">$23.200</h3>
            <h3 class="descuentos">5% OFF</h3>
            <h3 class="descripciones">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envío gratis desde $2500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
      </section>
    </footer>
  </body>
</html>
