<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrate</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/76c569a301.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />
  </head>
  <body>
    <header class="bg-yellow">
      <section class="linea-sup">
        <a href="/">
          <img src="/images/logo-mercado-liebre.svg" alt="Meliebre" />
        </a>
        <div class="div-searchbar">
          <input type="text" />
          <button>
            <i class="fas fa-search"></i>
          </button>
        </div>
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </p>
      </section>
      <nav>
        <section class="navbar">
          <ul class="nav-pag">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
          <ul class="nav-accesos">
            <li>
              <a href="register">Crea tu Cuenta</a
              ><i class="fa-regular fa-id-card"></i>
            </li>
            <li>
              <a href="login">Ingresa</a
              ><i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
              <a href="">Mis Compras</a
              ><i class="fa-solid fa-basket-shopping"></i>
            </li>
          </ul>
        </section>
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </header>
    <main>
      <form action="" method="GET" class="register-form">
        <div>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre y Apellido"
          />
        </div>
        <div>
          <input
            type="text"
            name="name"
            id="user"
            placeholder="Nombre de Usuario"
          />
        </div>
        <div>
          <input
            type="date"
            name="birthDate"
            id="birthDate"
            placeholder="Fecha de Nacimiento"
          />
        </div>
        <div>
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Direccion"
          />
        </div>

        <div>
          <select>
            <option value="Comprador">Comprador</option>
            <option value="Vendedor">Vendedor</option>
          </select>
        </div>
        <div class="categoria">
          <label>Categorias de Interes</label>
        </div>
        <div class="checkbox">
          <div>
            <label for="electro">Electro</label>
            <input
              type="checkbox"
              name="category"
              value="electro"
              id="electro"
            />
          </div>
          <div>
            <label for="moda">Moda</label>
            <input type="checkbox" name="category" value="moda" id="moda" />
          </div>
          <div>
            <label for="hogar">Hogar</label>
            <input type="checkbox" name="category" value="hogar" id="hogar" />
          </div>
          <div>
            <label for="jugeteria">Jugeteria</label>
            <input
              type="checkbox"
              name="category"
              value="jugeteria"
              id="jugeteria"
            />
          </div>
          <div>
            <label for="vida-sana">Vida Sana</label>
            <input
              type="checkbox"
              name="category"
              value="vida Sana"
              id="vida-sana"
            />
          </div>
        </div>
        <div class="file">
          <label for="avatar">Foto de Usuario</label>
          <input
            type="file"
            name="avatar"
            id="avatar"
            accept="image/jpg, image/png"
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            id="pass1"
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            placeholder="Vuelva a ingresar la contraseña"
            id="pass2"
          />
        </div>
        <div class="botones">
          <button type="reset">Resetear Formulario</button>
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <footer>
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envío gratis desde $2500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
      </section>
    </footer>
  </body>
</html>
