@media (min-width: 680px) {
  .linea-sup {
    justify-content: space-between;
  }

  .linea-sup a {
    width: 33%;
  }

  .linea-sup div {
    width: 33%;
  }

  header p {
    width: 30%;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
  }

  .navbar li {
    margin: 0 5px;
  }
  .nav-pag {
    justify-content: flex-start;
  }
  .nav-accesos {
    justify-content: flex-end;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
  }

  nav ul li {
    list-style: none;
  }

  nav ul {
    padding: 10px 0;
  }

  .burger-menu {
    display: none;
  }
  .tarjeta-articulo {
    box-shadow: 0 0 10px rgb(100, 100, 100);
    width: 45%;
  }
}
