@media (min-width: 1200px) {
  .linea-sup {
    max-width: 1200px;
    margin: auto;
  }

  .navbar {
    max-width: 1200px;
    margin: auto;
  }
  .nav-pag {
    width: 40%;
  }
  .nav-accesos {
    width: 40%;
  }
  .tarjeta-articulo {
    width: 23%;
  }

  .descripciones {
    display: none;
  }
}
