/*
paleta Colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
textos:
Familia: 'Roboto'
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.padding-10 {
  padding: 10px;
}

.text-center {
  text-align: center;
}

header {
  background-color: #eac926;
  padding: 10px;
}

header p {
  text-align: right;
  padding: 10px 0;
}

.linea-sup {
  display: flex;
  flex-wrap: wrap;
}

.linea-sup a {
  width: 50%;
  max-width: 185px;
}

.div-searchbar {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.div-searchbar input {
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
  background-color: white;
  border: none;
  min-width: 100px;
  max-width: 500px;
  max-height: 40px;
}

.div-searchbar button {
  border-radius: 0 5px 5px 0;
  background-color: white;
  order: none;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.linea-sup div {
  width: 50%;
}

.nav-pag {
  display: none;
}

.nav-accesos {
  display: none;
}

.nav-accesos i {
  padding-left: 5px;
}

.burger-menu {
  background-color: #1259c3;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  padding: 7px;
  margin: 0 auto;
  border-radius: 20%;
  font-size: 20px;
}

.banner {
  width: 100%;
}

body {
  background-color: #ebebeb;
}

main {
  width: 90%;
  margin: auto;
}

.titulares {
  font-size: 24px;
  color: #666;
  padding: 15px 0;
}

.grupo-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ebebeb;
}

.tarjeta-articulo {
  margin: 10px 0;
}

.tarjeta-datos {
  border-top: #ebebeb 1px solid;
  background-color: white;
  padding: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.precios {
  font-size: 18px;
  width: 50%;
}
.descuentos {
  font-size: 16px;
  color: #39b54a;
  width: 50%;
}

.descripciones {
  font-size: 16px;
  padding: 15px 0;
  color: #666;
}

.div-truck {
  border: #39b54a 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: -15px;
  background-color: white;
}

.div-truck i {
  color: #39b54a;
}

.icono-footer {
  color: #1259c3;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  background-color: white;
  color: #666;
  padding: 20px;
}

footer section p {
  padding-bottom: 60px;
}

footer h5 {
  text-align: left;
  text-decoration: none;
  padding: 25px 25px 25px 10px;
}
